body {
  background-color: #FEF9EF !important;
  background-image: url('luneta.png'); /* Substitua 'caminho/para' pelo caminho real da imagem */
  background-size: 650px auto; /* Ajusta a imagem para cobrir toda a área */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  background-position: cover; /* Centraliza a imagem no fundo */
  color: #227C9D;
}


/* Centraliza o painel de login e criação de conta */
#login_panel, #create_account_panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Cabeçalho */
.main-header .navbar {
  background-color: #227C9D;
  border-bottom: 1px solid #FFCB77;
}

.main-header .logo {
  background-color: #227C9D;
  color: #FEF9EF;
  font-weight: bold;
}

/* Barra lateral */
.main-sidebar {
  background-color: #FEF9EF;
}

.sidebar-menu > li > a {
  color: #227C9D;
}

.sidebar-menu > li.active > a,
.sidebar-menu > li > a:hover {
  background-color: #17C3B2;
  color: #FFFFFF;
}

/* Ícones na barra lateral */
.sidebar-menu .fa {
  color: #FE6D73 !important;
}

/* Botões */
.btn-primary, .btn-logout {
  background-color: #227C9D;
  border-color: #227C9D;
  color: #FFFFFF;
}

.btn-primary:hover, .btn-logout:hover {
  background-color: #17C3B2;
  border-color: #17C3B2;
}

/* Rodapé */
.main-footer {
  background-color: #FEF9EF;
  color: #227C9D;
  border-top: 1px solid #FFCB77;
}

/* Mensagens de erro ou alertas */
.alert-message {
  color: #FE6D73;
  font-weight: bold;
}

/* Texto */
h3, h4, h5, p, label {
  color: #227C9D;

/* Estilo para o título centralizado no tabItem */
.tab-relatorios-title {
  color: #227C9D;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

/* Estilo para os boxes */
.tab-relatorios-box {
  background-color: #FEF9EF;
  border: 1px solid #FFCB77;
  color: #227C9D;
  border-radius: 5px;
  padding: 10px;
}

/* Estilo para o botão de ação */
.tab-relatorios-button {
  background-color: #227C9D;
  border-color: #227C9D;
  color: #FFFFFF;
}

.tab-relatorios-button:hover {
  background-color: #17C3B2;
  border-color: #17C3B2;
}

.tab-relatorios-alert {
  color: #FE6D73;
  font-weight: bold;
}
